@*@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>*@

@*@inherits UmbracoViewPage<Portfolio_Umbraco_Site.Code.Models.HomeViewModel>*@

@inherits UmbracoViewPage<Portfolio_Umbraco_Site.Code.Models.HomeViewModel>

@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
}

<h1>testsarasr</h1>

@Model.Beeees

@Model.Jalla