@*@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>*@

@*@inherits UmbracoViewPage<Portfolio_Umbraco_Site.Code.Models.HomeViewModel>*@

@inherits UmbracoViewPage<Portfolio_Umbraco_Site.Code.Models.HomeViewModel>

@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Layout.cshtml";
}
<div class="botdiv" style="background-image:url(@Model.ParalaxImageUrl)">
    <div class="imgcontainer">
        <img src="~/Media/Love.Wikberg_LinkedIN.jpg" />
    </div>
</div>
