<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1065" key="05e55ead-d732-4d5f-a47c-27f1182ec7c3" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-09-13T14:29:39" updateDate="2018-09-13T14:30:01" nodeName="Home" urlName="home" path="-1,1065" isDoc="" nodeType="1064" creatorName="Love Wikberg" writerName="Love Wikberg" writerID="0" template="1063" nodeTypeAlias="home" isPublished="true">
    <testTwo><![CDATA[Historik]]></testTwo>
    <testOne><![CDATA[Historiska kartläggningssamtal]]></testOne>
    <testThree><![CDATA[Page Title Welcome to Widgets Ltd]]></testThree>
  </home>
</root>